# SUMMER 2020

# CSE110 MID
**<font color='red'>[MUST MAINTAIN VARIABLE NAMING CONVENTIONS FOR ALL THE TASKS]</font>**

**<font color='red'>[Writing comments(explanatory sentences) in any of the code is completely optional]</font>**

# Task 01
Mr. Bean is having a small party at his house. So he wants to order a few cheese and pepperoni pizzas. The price of each cheese pizza is **250 taka** and the price of each pepperoni pizza is **800 taka.** The pizza shop will offer a discount depending on the total bill amount. The table below shows the discount he will get on his total amount.



|Total Amount (TK)|Discount (TK)|
|------|------|
|0 - 399  |No discount
|400 - 699  |20
|700 - 849 |40
|850 - 1599|100
|>= 1600  |250

Write a python program and take two inputs from the user. The first input will be the number of cheese pizzas and the second input will be the number of pepperoni pizzas. Based on the price of each pizza, calculate the total amount that Mr. Bean needs to pay.

 ================================

**Sample input 1:**\
10  
5


**Sample output 1:**\
Previous total: 6500\
New total after discount: 6250




*Explanation(1): 10 * 250 + 5 *800 = 6500 Tk was his total bill without a discount.  For 6500Tk, the discount amount is 250 Tk. So, with discount his updated bill is (6500-250)= 6250Tk.*


================================

**Sample input 2:**\
0  
1


**Sample output 2:**\
Previous total: 800
New total after discount: 760

*Explanation(2): 0 * 250 + 1 *800 = 800 Tk was his total  bill without a discount.  For 800Tk, the discount amount is 40 Tk. So, with discount his updated bill is (800-40)= 760Tk.*

In [1]:
cheese_pizza=int(input('Enter the amount:'))
pepperoni_pizza=int(input('Enter amount:'))

price_cheese_pizza=cheese_pizza*250
price_pepperoni_pizza=pepperoni_pizza*800
total_price=(price_pepperoni_pizza+price_cheese_pizza)
print('Previous total:',total_price)
if (total_price>=0and total_price<=399):
    print('NO discount')
if(total_price>=400 and total_price<=699):
    print('New total after discount:',(total_price-20))
if (total_price >= 700 and total_price <= 849):
    print('New total after discount:', (total_price - 40))
    
if(total_price >= 850 and total_price <= 1599):
    print('New total after discount:', (total_price - 100))
else:
    print('New total after discount:',(total_price-250))

Enter the amount:10
Enter amount:5
Previous total: 6500
New total after discount: 6250

# Task 02
Write a python program that will take a number as an input from the user and then
print the summation of all odd digits of that number. 


*Hint :You may assume that the input number is a non negative number.*

 ================================

**Sample input 1:**\
234567\
**Sample output 1:**\
15\
 *Explaination: 3+5+7 = 15*

  ================================

**Sample input 2:**\
224499 \
**Sample output 2:**\
18\
*Explaination: 9+9 = 18*

In [5]:
umber = int(input())
sum_of_odds = 1
for digit in str(number):
    if digit% 2 == 1:
        sum_of_odds+= str(digit)
print(sum_of_odds)

224499

TypeError: not all arguments converted during string formatting

# Task 03
Write a program that takes a string as input from the user. Let us say you want to find out whether the string that the user gave has the first letter of your own name. Now if you find the first letter of your name in the string which the user gave, then print “Found”. Otherwise, print “Not found” (please look at sample for further clarification)”
\
**<font color='red'>( You need to ignore the cases. For example, 'p' and 'P' will be considered the same.)**\
**<font color='red'>( Please write your name in a comment in your code. Example: #Fahim)**


 
  ================================

 For example: If your name is Charolette, it starts with a ‘C’, \
**Sample input 1:**\
china

**Sample output 1:**\
Found\
\
*Explanation: china has ‘c’ in it and remember we are ignoring cases (uppercase/lowercase) thus the user input contains the first letter of your name hence output is ‘Found’*

  ================================
  
For example: If your name is Fahim, it starts with a ‘F’,\
**Sample input 2:**\
craft

**Sample output 2:**\
Found\
\
*Explanation: craft has ‘f’ in it and remember we are ignoring cases (uppercase/lowercase) thus the user input contains the first letter of your name hence output is ‘Found’*
 
  ================================
  
If your name is Tanisha, it starts with ‘T’ \
**Sample input 3:**\
Bangladesh

**Sample output 3:**\
Not found\
\
*Explanation: Bangladesh does not have ‘T’ in it and remember we are ignoring cases (uppercase/lowercase) thus the user input does not contain the first letter of your name hence output is ‘Not found’*

In [4]:
variable= str(input('enter:'))
condition=','
if condition in variable:
    print('Found')
else:
    print('Not found')

enter:Bangladesh
Not found